.background {
	background: red;
}

.single-column {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.cool-btn {
	font-size: 1.2rem;
	text-transform: uppercase;
	margin: 5px;
	padding: 10px;
	background: white;
	border: 2px white;
}